@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.z-max {
  z-index: 9999;
}

.arrow-down-good {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid rgb(4, 120, 87);
}

.arrow-down-delayed {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid rgb(180, 83, 9);
}

.arrow-right-good {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-left: 15px solid rgb(4, 120, 87);
}

.arrow-right-delayed {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-left: 15px solid rgb(180, 83, 9);
}

.alert-enter {
  @apply opacity-0 transform scale-90;
}
.alert-enter-active {
  @apply opacity-100 transition transform translate-x-0 duration-500;
}
.alert-exit {
  @apply opacity-100 transition duration-500;
}
.alert-exit-active {
  @apply opacity-0 transition transform scale-90 duration-500;
}

input:checked ~ .toggle-dot {
  transform: translateX(100%);
  background-color: #047857;
}

input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: transparent;
}

.circle {
  animation: bobble 4s infinite linear;
}

.scaleLoadingScreenOut {
  animation: scaleOut 1000ms forwards;
}

@keyframes bobble {
  0% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    transform: scale(5, 5);
    opacity: 0;
  }
}

.terminal-search {
  border-radius: 1rem;
  border: solid 2px rgb(4, 120, 87);
}
